extends layout

block content
  h1= title
  //- p Welcome to #{title}
  
  .ui.fluid.icon.input
    input.inputBar(type='text', placeholder='输入要搜索的酒店名称（按下回车查询）')
    i.search.icon
  br
  .ui.divided.items
    each item in list
      .item
        .image
          img(src=item.img)
        .content
          a.header(href="/item/#{item.id}") #{item.name}
          .meta
            span.cinema= item.location
          .description
            //- .ui.star.rating(data-rating=3)
            
            p
              i.star.icon.yellow
              i.star.icon.yellow
              i.star.icon.yellow
              i.star.icon.yellow
              #{item.score}
          .extra
            .ui.label #{item.type}
            .ui.right.floated.primary.button
              |  查看
              i.right.chevron.icon
          

    //- .item
    //-   .image
    //-     img(src='https://semantic-ui.com/images/wireframe/image.png')
    //-   .content
    //-     a.header My Neighbor Totoro
    //-     .meta
    //-       span.cinema IFC Cinema
    //-     .description
    //-       p
    //-     .extra
    //-       .ui.right.floated.primary.button
    //-         | Buy tickets
    //-         i.right.chevron.icon
    //-       .ui.label Limited
    //- .item
    //-   .image
    //-     img(src='https://semantic-ui.com/images/wireframe/image.png')
    //-   .content
    //-     a.header Watchmen
    //-     .meta
    //-       span.cinema IFC
    //-     .description
    //-       p
    //-     .extra
    //-       .ui.right.floated.primary.button
    //-         | Buy tickets
    //-         i.right.chevron.icon

  