extends layout

block content
  h1= title
  //- p Welcome to #{title}
  
  .ui.fluid.icon.input
    input.inputBar(type='text', placeholder='输入要搜索的酒店名称（按下回车查询）')
    i.search.icon
  br
  .ui.divided.items
    each item in list
      .item
        .image
          img(src=item.img)
        
        .content
          a.header(href="/item/#{item.id}") #{item.name}
          .meta
            span.cinema= item.location
          
          .description
            p
              - for (var i = 1; i < item.score; ++i)
                i.star.icon.yellow
              i.star.half.empty.icon.yellow        
              #{item.score}
          .extra
            .ui.label #{item.level}
            a.ui.right.floated.primary.button(href="/item/#{item.id}")
              |  查看
              i.right.chevron.icon
            .right.floated.content
              .ui.button ￥#{item.startprice}起
  .ui.right.floated.pagination.menu(style="margin-bottom:80px")
    a.icon.item(href="/list/#{prev}")
      i.left.chevron.icon
    a.item(href="/list/1") 1
    a.item ....
    a.item.active(href="/list/#{page[0]}") #{page[0]}
    a.item(href="/list/#{page[1]}") #{page[1]}
    a.item(href="/list/#{page[2]}") #{page[2]}
    a.icon.item(href="/list/#{next}")
      i.right.chevron.icon

   